@import "./reboot.css";

html,
body {
  height: 100%;
}

/* default css variables  */
body {
  --background-color: white;
  --text-color: black;
}

/* dark theme css variables  */
body.dark {
  --background-color: black;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav {
  height: 10vh;
}

main {
  flex: 1;
}

footer {
  height: 10vh;
}

a,
button {
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--background-color);
}
